:root {
    --foreground-color: #000000;
    --background-color: #ffffff;
}
@media (prefers-color-scheme: light) {
    :root {
        --foreground-color: #000000;
        --background-color: #ffffff;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --foreground-color: #ffffff;
        --background-color: #000000;
    }
}
* {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    font-size: 1.3em;
    background-color: var(--background-color, #ffffff);
    color: var(--foreground-color, #000000);
}
nav {
    padding: 1vw;
    line-height: 1.5em;
}
nav a, nav span {
    padding: 0 8px 0 0;
    color: var(--foreground-color, #000000);
}
h1 {
    font-size: 2.5em;
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: center;
}
p {
    padding: 1vw 1vw 5vw 1vw;
    display: grid;
    row-gap: 1vw;
    column-gap: 1vw;
    grid-template-columns: repeat(5, 18.6vw);
}
a {
    height: 24.8vw;
    overflow: hidden;
    position: relative;
    width: 100%;
    text-align: center;
}
img {
    width: auto;
    height: 100%;
    position: relative;
}
@media all and (max-width: 1199px) {
    p {
        grid-template-columns: repeat(3, 32vw);
    }
    a {
        height: 42.66vw;
    }
    
}
@media all and (max-width: 399px) {
    p {
        padding: 2.5vw 2.5vw 5vw 2.5vw;
        row-gap: 2.5vw;
        column-gap: 2.5vw;
        grid-template-columns: 95vw;
        
    }
    a {
        height: 126.66vw;
    }
}