:root {
    --foreground-color: #000000;
    --background-color: #ffffff;
    --accent-color: #f884fc;
    --text-accent-color: #6a186d;
}
@media (prefers-color-scheme: light) {
    :root {
        --foreground-color: #000000;
        --background-color: #ffffff;
        --accent-color: #f884fc;
        --text-accent-color: #6a186d;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --foreground-color: #ffffff;
        --background-color: #000000;
        --accent-color: #6a186d;
        --text-accent-color: #f884fc;
    }
}
* {
    font-family: 'Merriweather', serif;
}
body {
    font-size: 1.3em;
    background-color: var(--background-color, #ffffff);
    color: var(--foreground-color, #000000);
    padding: 0;
    margin: 0;
    padding-bottom: 5rem;
}

a {
    color: var(--foreground-color, #000000);
}

p, h1, h2, h3, h4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
h3 {
    background-color: var(--accent-color, #f884fc);
    color: var(--foreground-color, #000000);
    padding: .5rem 1rem;
}
h4 {
    color: var(--text-accent-color, #6a186d);
    text-decoration: underline;
}

blockquote {
    font-style: italic;
}

.scroll-to-top {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    margin-bottom: 1rem;
}
.scroll-to-top span {
    background-color: var(--accent-color, #f884fc);
    border: 1px solid var(--background-color, #ffffff);
    padding: .5rem;
    font-size: 1.5rem;
    /*width: 5rem;*/
    height: 1.5rem;
    line-height: 1.5rem;
    display: inline-block;
    cursor: pointer;
    font-style: italic;
}